absl-py==0.7.0
alabaster==0.7.12
allennlp==0.8.1
asn1crypto==0.24.0
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
aws-xray-sdk==0.95
awscli==1.16.35
Babel==2.6.0
backcall==0.1.0
boto==2.49.0
boto3==1.7.84
botocore==1.12.25
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.3.9
conllu==0.11
cookies==2.2.1
cryptography==2.3.1
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
decorator==4.3.0
dill==0.2.9
docker==3.5.0
docker-pycreds==0.3.0
docutils==0.14
-e git+https://github.com/facebookresearch/DrQA.git@2aec75edefb8725cabb34406bf7aaa4db66b769d#egg=drqa
ecdsa==0.13
editdistance==0.5.2
en-core-web-sm==1.2.0
flaky==3.4.0
Flask==1.0.2
Flask-Cors==3.0.7
ftfy==4.4.3
future==0.16.0
gast==0.2.2
gevent==1.3.6
greenlet==0.4.15
grpcio==1.18.0
h5py==2.8.0
html5lib==1.0.1
idna==2.8
imagesize==1.1.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.13.2
Jinja2==2.10
jmespath==0.9.3
jsondiff==1.1.1
jsonnet==0.10.0
jsonpickle==1.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mock==2.0.0
more-itertools==4.3.0
moto==1.3.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
msgpack-python==0.5.6
murmurhash==0.26.4
nltk==3.3
numpy==1.16.1
numpydoc==0.8.0
overrides==1.9
packaging==18.0
pandas==0.23.4
parsimonious==0.8.0
parso==0.3.1
pathlib==1.0.1
pbr==5.0.0
pexpect==4.2.1
pickleshare==0.7.5
plac==0.9.6
pluggy==0.8.0
preshed==1.0.1
prettytable==0.7.2
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
py==1.7.0
pyaml==17.12.1
pyasn1==0.4.4
pycparser==2.19
pycryptodome==3.6.6
Pygments==2.2.0
pyparsing==2.2.2
pytest==3.9.1
python-dateutil==2.7.3
python-jose==2.0.2
pytorch-pretrained-bert==0.3.0
pytz==2017.3
PyYAML==3.13
regex==2017.11.9
requests==2.21.0
responses==0.9.0
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.1.0
six==1.12.0
snowballstemmer==1.2.1
spacy==1.9.0
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
tensorboard==1.12.2
tensorboardX==1.2
tensorflow==1.1.0
termcolor==1.1.0
thinc==6.5.2
toolz==0.9.0
torch==0.4.1
tqdm==4.31.1
traitlets==4.3.2
ujson==1.35
Unidecode==1.0.22
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==0.14.1
wrapt==1.10.11
xmltodict==0.11.0
